/* Tags */
body {
    margin: 0;
}

canvas {
    width: 100%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    position: absolute;
}

/* Classes */
.controls {
    /*max-height: 100px;
    min-height: 10px;*/
    min-height: 100px;
    /*padding: 10px;
    position: relative;*/
}

.control-button {
    width: 49%;
    /*min-height:10px;
    max-height: 20px;*/
    min-height: 100px;
    background-color: #68b84b;
    color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
}

/* IDs */
#canvas-box {
    /*position: relative;*/
    width: 100%;
    padding-bottom: 45%;
}

#debug-box {
    position: absolute;
    bottom: 0;
    display: none;
}

#debugger {
    width: 100%;
    max-height: auto;
}

#foreground {
    z-index: 3;
}

#up-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#down-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#left-button {
    float: left;
}

#right-button {
    float: right;
}