/* Tags */
body {
    margin: 0;
}

canvas {
    width: 100%;
    min-height: auto;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    position: absolute;
}

/* Classes */
.controls {
    max-height: 100px;
    min-height: 10px;
}

.control-buttons {
    max-width: 50%;
}

/* IDs */
#canvas-box {
    /*position: relative;*/
    width: 100%;
    padding-bottom: 45%;
}

#debug-box {
    position: absolute;
    bottom: 0;
    display: none;
}

#debugger {
    width: 100%;
    max-height: auto;
}

#foreground {
    /*position: absolute;
    margin: 8px;*/
    z-index: 3;
}